body {
  background-color: #FFF2E5;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
}

th {
  background-color: #4CAF50;
  color: white;
}